body {
    overflow-x: hidden;
}
input{
    width: 32.6%;
    margin: 0cm;
}
.hidden {
	display: none;
}
.middle {
    text-align: center
}
.righttop {
    position: absolute;
    top: 1%;
    right: 5%;
}
.rightbottom {
    position: absolute;
    top: 50px;
    right: 5%;
}